@font-face {
  font-family: QuicksandBold;
  src: url(Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Regular.ttf);
}

body {
  margin: 10px;
  line-height: 20px;
  font-family: Quicksand;
}

h1 {
  font-size: 30px;
  font-family: QuicksandBold;
}


h2 {
  font-size: 22px;
  font-family: QuicksandBold;
}

p, ul {
  font-size: 14px;
}

.resumeTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.profilePicture {
  color: transparent;
  height: 200px;
  width: 200px;
}

.image {
  object-fit: contain;
  width: 110%;
  border-radius: 4px;
  border: 1px solid ghostwhite;
}

.links {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.linkElement {
  height: 100px;
}

.linkImage {
  object-fit: contain;
  width: 25%;
}

